<div data-testid="back-button" class="padded" (click)="goHome()">
  <jesi-button>🡄 Back to houses</jesi-button >
</div>

<main *ngIf="house$ | async as house; " class="padded spaced">
  <aside>
    <img />
  </aside>
  <div>
    <h2>
      {{house.name}}
    </h2>
    <h3>
      {{house.region}} - {{house.seat}}
    </h3>
    <dl>
      <dt *ngIf="house.words">Words</dt>
      <dd>
        {{house.words}}
      </dd>
      <dt>Coat of arms</dt>
      <dd>
        {{house.coatOfArms}}
      </dd>
    </dl>
  </div>
</main>

<section *ngIf="characters$ | async as characters; ">
  <jesi-character-card *ngFor="let character of characters" [character]="character">
  </jesi-character-card>
</section>
